<div *ngIf="this.serverSettingValue as DriveSetting; else loading" class="grid-container">
    <div class="caption"><h1>Server value</h1></div>
    <div class="caption"><h1>New value</h1></div>

    <app-units class="grid-item" [title]="maxSpeed" [unitsParameter]="this.serverSettingValue.maxSpeed" [editable]="false"></app-units>
    <app-units class="grid-item" [title]="maxSpeed" [(unitsParameter)]="this.newSettingValue.maxSpeed" [editable]="true"></app-units>

    <app-units class="grid-item" [title]="acceleration" [unitsParameter]="this.serverSettingValue.acceleration" [editable]="false"></app-units>
    <app-units class="grid-item" [title]="acceleration" [(unitsParameter)]="this.newSettingValue.acceleration" [editable]="true"></app-units>

    <app-units class="grid-item" [title]="spindlePitch" [unitsParameter]="this.serverSettingValue.spindlePitch" [editable]="false"></app-units>
    <app-units class="grid-item" [title]="spindlePitch" [(unitsParameter)]="this.newSettingValue.spindlePitch" [editable]="true"></app-units>

    <app-number class="grid-item" [title]="stepsPerRevolution" [value]="this.serverSettingValue.stepsPerRevolution" [editable]="false"></app-number>
    <app-number class="grid-item" [title]="stepsPerRevolution" [(value)]="this.newSettingValue.stepsPerRevolution" [editable]="true"></app-number>

    <app-units class="grid-item" [title]="softwareLimitMinus" [unitsParameter]="this.serverSettingValue.softwareLimitMinus" [editable]="false"></app-units>
    <app-units class="grid-item" [title]="softwareLimitMinus" [(unitsParameter)]="this.newSettingValue.softwareLimitMinus" [editable]="true"></app-units>

    <app-units class="grid-item" [title]="softwareLimitPlus" [unitsParameter]="this.serverSettingValue.softwareLimitPlus" [editable]="false"></app-units>
    <app-units class="grid-item" [title]="softwareLimitPlus" [(unitsParameter)]="this.newSettingValue.softwareLimitPlus" [editable]="true"></app-units>

    <mat-checkbox class="grid-item" [checked]="this.serverSettingValue.reverseDirection" [disabled]="true">{{reverseDirection}}</mat-checkbox>
    <mat-checkbox class="grid-item" [(ngModel)]="this.newSettingValue.reverseDirection" [disabled]="false">{{reverseDirection}}</mat-checkbox>

    <app-units class="grid-item" [title]="referencePosition" [unitsParameter]="this.serverSettingValue.referencePosition" [editable]="false"></app-units>
    <app-units class="grid-item" [title]="referencePosition" [(unitsParameter)]="this.newSettingValue.referencePosition" [editable]="true"></app-units>

    <app-units class="grid-item" [title]="referenceDrivingSpeed" [unitsParameter]="this.serverSettingValue.referenceDrivingSpeed" [editable]="false"></app-units>
    <app-units class="grid-item" [title]="referenceDrivingSpeed" [(unitsParameter)]="this.newSettingValue.referenceDrivingSpeed" [editable]="true"></app-units>

    <app-drive-direction class="grid-item" [title]="referenceDrivingDirection" [value]="this.serverSettingValue.referenceDrivingDirection" [editable]="false"></app-drive-direction>
    <app-drive-direction class="grid-item" [title]="referenceDrivingDirection" [(value)]="this.newSettingValue.referenceDrivingDirection" [editable]="true"></app-drive-direction>
    
    <div class="second-column caption">
        <button mat-raised-button color="primary" (click)="updateValues()">Save values to sever</button>
    </div>
</div>
<ng-template #loading>Loading server data...</ng-template>
