.position-grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    //justify-content: left;
    align-items: center;
    
    grid-gap: 3px;
    border: 2px solid black;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}