<div class="container">
    <div class="flexitem">
        <button mat-raised-button color="primary" (click)="this.toggleBottleChangeMode()" [disabled]="isDispenserActive">{{isBottleChangeModeActive ? "Stop" : "Start"}} bottle change</button>
    </div>
    <div class="flexitem">
        <button mat-raised-button color="primary" (click)="this.fillGlas()" [disabled]="isDispenserActive">Fill glas</button>
    </div>
    <div class="flexitem">
        <button mat-raised-button (click)="this.openSpiritSpender()" [disabled]="isDispenserActive">Open spirit dispenser</button>
    </div>
    <div class="flexitem">
        <button mat-raised-button (click)="this.closeSpiritSpender()" [disabled]="isDispenserActive">Close spirit dispenser</button>
    </div>
</div>
