<div class="container">
    <div class="flexitem">
        <button mat-raised-button color="primary" (click)="this.referenceDrive()">Reference drive</button>
    </div>
    <div class="flexitem">
        <button mat-raised-button color="primary" (click)="this.goToBottleChangePosition()">GoTo bottle change position</button>
    </div>
    <div class="flexitem">
        <button mat-raised-button color="primary" (click)="this.goToHomePosition()">GoTo home position</button>
    </div>
    <div class="flexitem">
        <button mat-raised-button color="primary" (click)="this.goToReleasePosition()">GoTo release position</button>
    </div>
    <div class="flexitem">
        <button mat-raised-button color="primary" (click)="this.fillGlas()">Fill glas</button>
    </div>
</div>
