<div class="container">
    <div class="flexitem">
        <button mat-raised-button color="primary" (click)="this.toggleBottleChangeMode()">{{isBottleChangeModeActive ? "Stop" : "Start"}} bottle change</button>
    </div>
    <div class="flexitem">
        <button mat-raised-button color="primary" (click)="this.fillGlas()">Fill glas</button>
    </div>

    <!--
      TODO: Add expert mode for manual open/close of the dispenser

      <div class="flexitem">
          <button mat-raised-button color="primary" (click)="this.openSpiritSpender()">Open spirit dispenser</button>
      </div>
      <div class="flexitem">
          <button mat-raised-button color="primary" (click)="this.closeSpiritSpender()">Close spirit dispenser</button>
      </div>
    -->
</div>
