<div class="container">
    <ng-container [ngSwitch]="this.quantity">
        <button *ngSwitchCase="0" mat-icon-button class="large" [disabled]="this.disabled">
            <mat-icon svgIcon="not_interested"></mat-icon>
        </button>
        <button *ngSwitchCase="1" mat-icon-button class="large" color="primary">
            <mat-icon svgIcon="oneShotIcon"></mat-icon>
        </button>
        <div *ngSwitchCase="2">
            <button mat-icon-button class="large" color="warn">
                <mat-icon svgIcon="oneShotIcon"></mat-icon>
            </button>

            <button mat-icon-button class="large" color="warn">
                <mat-icon svgIcon="oneShotIcon"></mat-icon>
            </button>
        </div>
    </ng-container>
</div>