.container {
    display: flex;
    flex-direction: column;
}

.horitontal-container {
    display: flex;
    flex-direction: row;
}

.margin {
    margin: 10px;
}

.max-width {
    width: 100%;
}

.max-height {
    height: 100%;
}

mat-form-field {
    width: 95%; 
}
