<div class="container max-height">
    <div class="horitontal-container">
        <mat-form-field class="max-width margin" appearance="outline">
            <mat-label>NC Command</mat-label>
            <input matInput type="text" [(ngModel)]="ncCommand">
        </mat-form-field>
        <button mat-fab class="margin" color="warn" (click)="this.sendNcCommand()">Send</button>
    </div>
    <div>
        <mat-form-field class="margin"appearance="fill">
            <mat-label>Received Messages from NC</mat-label>
            <textarea matInput readonly tabindex="-1" rows="20">{{ncMessages}}</textarea>
        </mat-form-field>
    
    </div>
</div>
