<div class="container">
    <app-automatic-positions></app-automatic-positions>
    <div class="item">
        <button [style.font-size]="'x-large'" mat-raised-button color="warn" (click)="this.releaseTheSpirit()">--&gt; Release the spirit ! &lt;--</button>
    </div>
    <app-automatic-actions class="item"></app-automatic-actions>
    <div class="item">
        <button [style.font-size]="'x-large'" mat-raised-button color="primary" (click)="this.clearSpiritPositions()">Clear spirit positions</button>
    </div>
</div>
