.container {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    //align-items: center;
    //align-content:center;
}

.horitontal-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.axis-position {
    margin: 10px;
    width: 85px;
}

.item {
    align-self: center;
    margin: 10px
}