<mat-tab-group dynamicHeight [backgroundColor]="'primary'">
    <mat-tab label="Spirit dispenser">
      <app-spirit-dispenser></app-spirit-dispenser>
    </mat-tab>
    <mat-tab label="Positions"> 
      <app-positions></app-positions>
    </mat-tab>
    <mat-tab label="Status Lamp">
      <app-status-lamp></app-status-lamp>
    </mat-tab>
    <mat-tab label="NC">
      <app-nc-communication></app-nc-communication>
    </mat-tab>
    <mat-tab *ngFor="let driveName of drives" label="{{driveName}}-Axis">
      <app-drive [driveName]="driveName"></app-drive>
    </mat-tab>
  </mat-tab-group>
