<div *ngIf="this.serverSettingValue as SpiritDispenserSetting; else loading" class="grid-container">
    <div class="caption"><h1>Server value</h1></div>
    <div class="caption"><h1>New value</h1></div>

    <app-units class="grid-item" [title]="driveTimeFromBottleChangeToHomePos" [unitsParameter]="this.serverSettingValue.driveTimeFromBottleChangeToHomePos" [editable]="false"></app-units>
    <app-units class="grid-item" [title]="driveTimeFromBottleChangeToHomePos" [(unitsParameter)]="this.newSettingValue.driveTimeFromBottleChangeToHomePos" [editable]="true"></app-units>

    <app-units class="grid-item" [title]="driveTimeFromHomePosToBottleChange" [unitsParameter]="this.serverSettingValue.driveTimeFromHomePosToBottleChange" [editable]="false"></app-units>
    <app-units class="grid-item" [title]="driveTimeFromHomePosToBottleChange" [(unitsParameter)]="this.newSettingValue.driveTimeFromHomePosToBottleChange" [editable]="true"></app-units>

    <app-units class="grid-item" [title]="driveTimeFromHomeToReleasePosition" [unitsParameter]="this.serverSettingValue.driveTimeFromHomeToReleasePosition" [editable]="false"></app-units>
    <app-units class="grid-item" [title]="driveTimeFromHomeToReleasePosition" [(unitsParameter)]="this.newSettingValue.driveTimeFromHomeToReleasePosition" [editable]="true"></app-units>

    <app-units class="grid-item" [title]="driveTimeFromReleaseToHomePosition" [unitsParameter]="this.serverSettingValue.driveTimeFromReleaseToHomePosition" [editable]="false"></app-units>
    <app-units class="grid-item" [title]="driveTimeFromReleaseToHomePosition" [(unitsParameter)]="this.newSettingValue.driveTimeFromReleaseToHomePosition" [editable]="true"></app-units>

    <app-units class="grid-item" [title]="waitTimeUntilSpiritIsReleased" [unitsParameter]="this.serverSettingValue.waitTimeUntilSpiritIsReleased" [editable]="false"></app-units>
    <app-units class="grid-item" [title]="waitTimeUntilSpiritIsReleased" [(unitsParameter)]="this.newSettingValue.waitTimeUntilSpiritIsReleased" [editable]="true"></app-units>

    <app-units class="grid-item" [title]="waitTimeUntilSpiritIsRefilled" [unitsParameter]="this.serverSettingValue.waitTimeUntilSpiritIsRefilled" [editable]="false"></app-units>
    <app-units class="grid-item" [title]="waitTimeUntilSpiritIsRefilled" [(unitsParameter)]="this.newSettingValue.waitTimeUntilSpiritIsRefilled" [editable]="true"></app-units>

    <div class="second-column caption">
        <button mat-raised-button color="primary" (click)="this.updateSettingValues()">Save values to sever</button>
    </div>
</div>
<ng-template #loading>Loading server data...</ng-template>
