<div class="grid-container">
    <div class="caption"><h1>Server value</h1></div>
    <div class="caption"><h1>New value</h1></div>

    <app-units class="grid-item" [title]="maxSpeed" [unitsParameter]="this.driveSetting.maxSpeed" [editable]="false"></app-units>
    <app-units class="grid-item" [title]="maxSpeed" [unitsParameter]="this.driveSetting.maxSpeed" [editable]="true"></app-units>

    <app-units class="grid-item" [title]="acceleration" [unitsParameter]="this.driveSetting.acceleration" [editable]="false"></app-units>
    <app-units class="grid-item" [title]="acceleration" [unitsParameter]="this.driveSetting.acceleration" [editable]="true"></app-units>

    <app-units class="grid-item" [title]="spindlePitch" [unitsParameter]="this.driveSetting.spindlePitch" [editable]="false"></app-units>
    <app-units class="grid-item" [title]="spindlePitch" [unitsParameter]="this.driveSetting.spindlePitch" [editable]="true"></app-units>

    <app-number class="grid-item" [title]="stepsPerRevolution" [value]="this.driveSetting.stepsPerRevolution" [editable]="false"></app-number>
    <app-number class="grid-item" [title]="stepsPerRevolution" [value]="this.driveSetting.stepsPerRevolution" [editable]="true"></app-number>

    <mat-checkbox class="grid-item" [checked]="this.driveSetting.reverseDirection" [disabled]="true">{{reverseDirection}}</mat-checkbox>
    <mat-checkbox class="grid-item" [checked]="this.driveSetting.reverseDirection" [disabled]="false">{{reverseDirection}}</mat-checkbox>

    <app-units class="grid-item" [title]="referencePosition" [unitsParameter]="this.driveSetting.referencePosition" [editable]="false"></app-units>
    <app-units class="grid-item" [title]="referencePosition" [unitsParameter]="this.driveSetting.referencePosition" [editable]="true"></app-units>

    <app-units class="grid-item" [title]="referenceDrivingSpeed" [unitsParameter]="this.driveSetting.referenceDrivingSpeed" [editable]="false"></app-units>
    <app-units class="grid-item" [title]="referenceDrivingSpeed" [unitsParameter]="this.driveSetting.referenceDrivingSpeed" [editable]="true"></app-units>

    <!-- <app-enum class="grid-item" [title]="referenceDrivingDirection" [value]="this.driveSetting.referenceDrivingDirection" [editable]="false"></app-enum>
    <app-enum class="grid-item" [title]="referenceDrivingDirection" [value]="this.driveSetting.referenceDrivingDirection" [editable]="true"></app-enum> -->
</div>
