<div class="grid-container">
    <div class="caption"><h1>Server value</h1></div>
    <div class="caption"><h1>New value</h1></div>

    <app-units class="grid-item" [title]="'Max. speed'" [unitsParameter]="this.driveSetting.maxSpeed" [editable]="false"></app-units>
    <app-units class="grid-item" [title]="'Max. speed'" [unitsParameter]="this.driveSetting.maxSpeed" [editable]="true"></app-units>

    <app-units class="grid-item" [title]="'Acceleration'" [unitsParameter]="this.driveSetting.acceleration" [editable]="false"></app-units>
    <app-units class="grid-item" [title]="'Acceleration'" [unitsParameter]="this.driveSetting.acceleration" [editable]="true"></app-units>

    <app-units class="grid-item" [title]="'Spindlle pitch'" [unitsParameter]="this.driveSetting.spindelPitch" [editable]="false"></app-units>
    <app-units class="grid-item" [title]="'Spindlle pitch'" [unitsParameter]="this.driveSetting.spindelPitch" [editable]="true"></app-units>

</div>
