<div class="container">
    <div class="flexitem">
        <button mat-fab color="warn" (click)="this.enableStatusLamp()">Enable</button>
        <button style="margin-left: 5px" mat-fab color="warn" (click)="this.disableStatusLamp()">Disable</button>
    </div>
    <div class="flexitem">
        <button mat-raised-button color="primary" (click)="this.redLightOff()">Red light off</button>
    </div>
    <div class="flexitem">
        <button mat-raised-button color="primary" (click)="this.redLightOn()">Red light on</button>
    </div>
    <div class="flexitem">
        <button mat-raised-button color="primary" (click)="this.redLightBlink()">Red light blink</button>
    </div>
    <div class="flexitem">
        <button mat-raised-button color="primary" (click)="this.greenLightOff()">Green light off</button>
    </div>
    <div class="flexitem">
        <button mat-raised-button color="primary" (click)="this.greenLightOn()">Green light on</button>
    </div>
    <div class="flexitem">
        <button mat-raised-button color="primary" (click)="this.greenLightBlink()">Green light blink</button>
    </div>
</div>