.setting {
    grid-area: drive-setting;
    display: flex; 
    justify-content: left; 
    align-items: left;
    border: 1px solid black;
    padding: 5px
}

.actions {
    grid-area: drive-actions;
    display: flex; 
    justify-content: left; 
    align-items: left;
    border: 1px solid black;
    padding: 5px
}

.grid-container {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-areas: 'drive-setting drive-actions';
    gap: 2px;
   
  }